/* CSS files add styling rules to your content */

/*Navbar*/
.HednNav {
  display: flex;
  justify-content: space-between;
  background-color: #edf0f5;
  font-weight: bold;
}

.hed {
  font-size: 45px;
  padding: 10px;
  color: #3d6f8a;
  font-weight: bold;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.items {
  color: #003355;
  font-size: 20px;
  /*border: inset black 4px;*/
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

/*Nav Bar End*/

/*Body style*/
body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  background-color: white;
}
/*Full Body styles end*/

.maincontent {
  background-color: white;
  justify-content: center;
  align-content: center;
  padding: 10%;
  flex: 10;
}

/*Text and image styles*/
img {
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
}

/*Image and text styles end*/


.grid {
  color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 220px);
  justify-items: center;
}
