/* CSS files add styling rules to your content */

/*Navbar*/
/*.HednNav {}*/

.hed {
  text-align: center;
  font-size: 45px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  color: #3d6f8a;
}

.navBar {
  display: flex;
  justify-content: space-around;
  /*background-color: #EDF0F5;*/
  margin-top: 0px;
}

.items {
  color: #003355;
  font-size: 20px;
  border: inset black 4px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  text-decoration: none;
}

/*Nav Bar End*/
/*Full Body style*/
body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  background-color: white;
}
/*Full Body styles end*/
.bigContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.maincontent {
  background-color: white;
  justify-content: flex-start;
  align-content: stretch;
  padding: 10%;
}

.asideContent {
  justify-content: flex-end;
  align-items: stretch;

  background-color: white;
  border: solid;
  border-color: black;
  width: 200px;
  padding: 10%;
}

/*Main Content Styles Start*/

/*Main Content Styles End*/

/*Aside Content Styles Start*/

/*Aside Content Styles End*/

/*Text and image styles*/
.andriod {
  color: #a4c639;
}

img {
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
}

/*Image and text styles end*/

/*Don't delete randomly*/
/* body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Baloo Chettan 2", cursive;
}

/* header {
  background-color: black;
  border-top: #e4a4ee solid 5px;
  border-bottom: #17d3ff solid 5px;
  border-left: #ffaa7b solid 5px;
  border-right: #fee975 solid 5px;
  margin: 20px;
} */

/* img {
  margin: 10px;
  border: 4px solid #00ffcc;
} */

/*.grid {
  color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 220px);
  justify-items: center;
}

.gif{
  transition:transform .5s;  
}

.gif:hover{
  transform:scale(1.5);
}
*/
